@use "../../styles/constants.scss" as constants;
@use "../../styles/functions.scss" as functions;
@use "../../styles/colors.scss" as colors;

$border-radius: constants.constants(border_radius);

.mut-input-wrapper {
    .mut-label {
        visibility: hidden;
        font-size: 0.75em;
        // position: absolute;
        padding: 0 functions.rem(5);
        left: functions.rem(10);
        width: fit-content;
        background-color: colors.color(white);
    }
    .mut-input {
        font: inherit;
        // outline: 0;
        height: 1.4375em;
        box-sizing: content-box;
        // margin: 0;
        // border: 0;
        background: transparent;
    }
    &.outlined {
        background: none;
        border-radius: $border-radius;
    }
    &.filled {
        border-top-left-radius: $border-radius;
        border-top-right-radius: $border-radius;
        border-bottom-right-radius: 0;
        border-bottom-left-radius: 0;
        .mut-label {
            background-color: transparent;
            top: functions.rem(5);
        }
        .mut-input {
            padding: functions.rem(16.5) functions.rem(14) functions.rem(15.5) functions.rem(14);
        }
    }
    &.mut-show-lable {
        .mut-label {
            visibility:visible;
        }
        .mut-input {
            // outline: 0;
        }
        
    }
    &.outlined.mut-show-lable {
        .mut-label {
            top: functions.rem(-8);
        }
    }
    &.filled.mut-show-lable {
        .mut-input {
            padding-top: functions.rem(22);
            padding-bottom: functions.rem(10);
        }
    }
    &.standard {
        .mut-label {
            left: 0;
            padding: 0;
        }
        .mut-input {
            padding-left: 0;
            border-radius: 0;
            background: none;
        }
    }
    &.standard.mut-show-lable {
        .mut-input {
            padding-top: functions.rem(22);
            padding-bottom: functions.rem(10);
        }
    }

    .mut-input-icon {
        padding: 0 functions.rem(5);
    }

}
