@use "../../../styles/constants.scss" as constants;
@use "../../../styles/functions.scss" as functions;
@use "../../../styles/colors.scss" as color;

.mut-list-item {
    padding: functions.rem(16) functions.rem(6);
    display: block;
    text-align: left;
    &.mut-focus,&:hover {
        background: color.color(hover);
        cursor: pointer;
    }
}