@use "../../styles/constants.scss" as constants;
@use "../../styles/functions.scss" as functions;

button,a.mut-button {
  padding: functions.rem(5) functions.rem(15);
  font: inherit;
  text-transform: uppercase;
  white-space: nowrap;
  position: relative;
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  -webkit-tap-highlight-color: transparent;
  -webkit-appearance: none;
  box-shadow: none;
  line-height: 1.5;
  font-size: 1rem;
  height: 2.5em;
  white-space: nowrap;

  &.mut-outlined {
    padding: functions.rem(4) functions.rem(16),
  }
}