@use "../../styles/constants.scss" as constants;
@use "../../styles/functions.scss" as functions;
@use "../../styles/colors.scss" as colors;


.mut-select-field {
  position: relative;
  width: fit-content;
  min-width: functions.rem(200);

  *, ::after, ::before {
    box-sizing: border-box;
  }

  .mut-no-search {
    border: 1px solid colors.color(light_gray);
    min-height: functions.rem(23);
    font: inherit;
    position: relative;
    .mut-icon {
      float: right;
    }
  }
  .mut-select-content {
    min-height: functions.rem(24);
  }

  .mut-dropdown-content-wrapper {
    position: absolute;
    z-index: 2;
    padding: 0 functions.rem(2);
    .mut-dropdown-content {
      background: colors.color(white);
      box-shadow: constants.constants(box_shadow);
      list-style: none;
      margin: 0;
      padding: 0 functions.rem(5);;
    }
  }
}