@use "../../styles/functions.scss" as fun;
@use "../../styles/colors.scss" as color;
.mut-icon {
    width: fun.rem(30);
    height: fun.rem(30);
    &:hover {
        background-color: color.color(hover);
    }
    &.mut-arrow {
        .mut-i {
            width: 0;
            height: 0;
            border-left: fun.rem(5) solid transparent;
            border-right: fun.rem(5) solid transparent;
            border-top: fun.rem(5) solid #555;
        }
    }
    &.mut-checkbox-icon {
        .mut-i {
            display: inline-block;
            transform: rotate(45deg);
            height: fun.rem(10);
            width: fun.rem(5);
            border-bottom: fun.rem(2) solid green;
            border-right: fun.rem(2) solid green;
        }
      }
    &.mut-rot-180 {
        transform: rotate(180deg);
        -webkit-transform: rotate(180deg);
    }
    
    .mut-select-icon {
        cursor: pointer;
        padding: fun.rem(11);
    }
    
    
}