@use "../../styles/functions.scss" as fun;
.mut-icon {
    max-width: fun.rem(30);
    .mut-arrow {
        width: 0;
        height: 0;
        border-left: fun.rem(5) solid transparent;
        border-right: fun.rem(5) solid transparent;
        border-top: fun.rem(5) solid #555;
    }
    &.mut-rot-180 {
        .mut-arrow {
            transform: rotate(180deg);
            -webkit-transform: rotate(180deg);
        }
    }

    &.mut-select-icon {
        border-radius: 50%;
        padding: fun.rem(11);
        cursor: pointer;
    }
    
    
}