@use "../../../styles/functions.scss" as functions;
@use "../../../styles/constants.scss" as const;

.m-u-t-hidden {
    display: none !important;
    opacity: 0 !important;
}

.m-u-t-padding {
    padding: functions.rem(16) functions.rem(14);
}

.m-u-t-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.m-u-t-flex {
    display: flex;
}

// Justify Space between
.m-u-t-justify-sb {
    display: flex;
    justify-content: space-between;
}

.m-u-t-user-select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.m-u-t-border-radius {
    border-radius: const.constants(border_radius);
}

.m-u-t-cursor-pointer {
    cursor: pointer;
}

.m-u-t-cursor-text {
    cursor: text;
}


.m-u-t-ripple-touch {
    position: absolute;
    overflow: hidden;
    pointer-events: none;
    z-index: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    // border-radius: inherit;
}

// ripple effect css
.m-u-t-ripple {
    border-radius: 50%;
    // background-color: rgb(255 255 255 / 30%);
    background-color: rgb(230, 119, 119);
    position: absolute;
    transform: scale(0);
    animation: ripple 0.6s linear;
    z-index: 0;
  }
  
  @keyframes ripple{
    to{
      transform: scale(2.5);
      opacity: 0;
    }
  }